.coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: #fff;
  font-size: 28px;
  font-weight: 100;
  overflow: hidden;
  padding: 0.25rem 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.coolBeans::after {
  background-color: #4169E1;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {

  border: 2px solid transparent;
  will-change: transform;
}